.flex-container-1 {
  height: 100%;
  min-width: 100%; 
  overflow-x: scroll;   
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.head {
  display: flex;
  width: 90rem;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  align-content: left;
}
.head1 {
  display: flex;
  padding: 0 0;
  width: 80rem;
  height: 4rem;
  margin: 0rem 1rem;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-bottom: none;
}
#link1 {
  display: flex;
  width: 45rem;
  height: 4rem;
  padding: 0 2rem;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
  position: relative;
}
.tablist1 {
  height: 100%;
  width: 95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mainTextCSS {
  font-size: 0.8rem;
  color: black;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  z-index: 1;
  position: relative;
}
.collapseTextCSS {
  font-size: 0.8rem;
  margin: 0.5rem 0.5rem;
  height: 100%;
  width: 100%;
  color: black;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.collapse.show {
  display: flex;
}
